<div class="row">
  <div class="col-md-8">
       <ol class="breadcrumb">
        <li><a href="/"> Home</a></li>
        <li><a href="/articles">Articles</a></li>
        <li class="active"><%= @article.title%></li>     
       </ol>
      <div class="page-header">
              <h4><%= link_to @article.title , @article %></h4>
              
                <div class="col-md-4">
                  <i class="glyphicon glyphicon-user"></i> <%= @article.user.email%>
                </div>
                <div class="col-md-4">
                  <i class="glyphicon glyphicon-tags"></i> <%= @article.categories.count%>
                </div>
                <div class="col-md-4">
                  <i class="glyphicon glyphicon-time"></i> <%= @article.published_date.strftime("%d %B %Y")%>
                </div></br>
              </div>
              <img src="http://loremflickr.com/800/300" class="img-responsive" alt="Responsive image">
              <p class="text-justify"><%= @article.body%></p>

            <h2>Add comment</h2>
            <div id="errorMsg"></div>
              <%if user_signed_in?%>
                <%= render './comments/form'%>
              <%else%>
                <p>You need to sign in before comment</p>
              <%end%>
            
       
        <h2>Comments</h2>
        <div id="commentList">
          <% @article.comments.each do |comment|%>
          <div class="page-header">
            <div class="media">
              <div class="media-left media-middle">
                <a href="#">
                  <img  class= "img-circle" src="http://loremflickr.com/64/64" class="img-responsive" alt="...">
                </a>        
              </div>
            
              <div class="media-body">
                <h4 class="media-heading"><%= comment.user.email%></h4>
                <%= comment.body%>
                </div>
              </div>
            </div>
          <%end%>
      </div>
</div>
          <div class="col-md-4">
            <h2>Categories</h2>
          </div>
</div>

